<!DOCTYPE html>

<html>
  <head>
    <title>MD5-ify A List Of Strings</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="app.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="contents">
      <h1>MD5-ify a list of strings</h1>

      <p>
        One string per line, please.
      </p>

      <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
    </div>
  </body>
</html>
